@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Schmiedicke.At.Models
<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
        <a class="navbar-text text-winter text-decoration-none" asp-controller="Home" asp-action="UserProperties">Hallo @User.Claims.GetRealName()</a>
        <li class="nav-item">
            <a class="nav-link text-winter" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Ausloggen</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-winter" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Einloggen</a>
        </li>
    }
</ul>