:root {
    --navy: #1C3879;
    --blue: #607EAA;
    --beige: #EAE3D2;
    --winter: #F9F5EB;
}

.bg-navy {
    background-color: var(--navy) !important;
}
 
.bg-blue {
    background-color: var(--blue) !important;
}

.bg-beige {
    background-color: var(--beige) !important;
}

.bg-winter {
    background-color: var(--winter) !important;
}

.text-navy {
    color: var(--navy) !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-beige {
    color: var(--beige) !important;
}

.text-winter {
    color: var(--winter) !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem var(--blue) !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}